.positions(@positions: null null null null, @i: 1) when (@i <= length(@positions)){
  @position: extract(@positions, @i);
  & when (iskeyword(@position) = false) {
     & when (@i = 1) {
      top: @position;
    }
    & when (@i = 2) {
      right: @position;
    }
    & when (@i = 3) {
      bottom: @position;
    }
    & when (@i = 4) {
      left: @position;
    }
  }
  .positions(@positions, (@i + 1));
}
.position(@property, @positions) {
  position: @property;
  .positions(@positions);
}
// Call: .position(absolute, 0 1px 10px 0);
