.transition(@value) {
	.prefixer(transition, @value);
}
.transition-delay(@value) {
  .prefixer(transition-delay, @value);
}
.transition-duration(@value) {
  .prefixer(transition-duration, @value);
}
.transition-property(@value) {
  .prefixer(transition-property, @value);
}
.transition-timing-function(@value) {
  .prefixer(transition-timing-function, @value);
}