.transform-2d(@value) {
	.prefixer(transform, @value);
}
.transform-origin-2d(@value) {
  .prefixer(transform-origin, @value);
}


// Transform 3D
.transform-3d(@value, @prefixes: moz webkit) {
  .prefixer(transform, @value, @prefixes);
}
.transform-origin-3d(@value, @prefixes: moz webkit) {
  .prefixer(transform-origin, @value, @prefixes);
}
.transform-style(@value, @prefixes: moz webkit) {
  .prefixer(transform-style, @value, @prefixes);
}
.perspective(@value, @prefixes: moz webkit) {
  .prefixer(perspective, @value, @prefixes);
}
.perspective-origin(@value, @prefixes: moz webkit) {
  .prefixer(perspective-origin, @value, @prefixes);
}
.backface-visibility(@value, @prefixes: moz webkit) {
  .prefixer(backface-visibility, @value, @prefixes);
}
