// ******************
// Begin Transition *
// ******************
.transition(@value) {
  -ms-transition: @value;
  -moz-transition: @value;
  -o-transition: @value;
  -webkit-transition: @value;
  transition: @value;
}
.transition-delay(@value) {
  -moz-transition-delay: @value;
  -ms-transition-delay: @value;
  -o-transition-delay: @value;
  -webkit-transition-delay: @value;
  transition-delay: @value;
}
.transition-duration(@value) {
  -moz-transition-duration: @value;
  -ms-transition-duration: @value;
  -o-transition-duration: @value;
  -webkit-transition-duration: @value;
  transition-duration: @value;
}
.transition-property(@value) {
  -moz-transition-property: @value;
  -ms-transition-property: @value;
  -o-transition-property: @value;
  -webkit-transition-property: @value;
  transition-property: @value;
}
.transition-timing-function(@value) {
  -moz-transition-timing-function: @value;
  -ms-transition-timing-function: @value;
  -o-transition-timing-function: @value;
  -webkit-transition-timing-function: @value;
  transition-timing-function: @value;
}
// ******************
// End Transition   *
// ******************
.transform(@value) {
  -moz-transform: @value;
  -ms-transform: @value;
  -o-transform: @value;
  -webkit-transform: @value;
  transform: @value;
}
.rotate(@value: 180deg) {
  -moz-transform: rotate(@value);
  -ms-transform: rotate(@value);
  -o-transform: rotate(@value);
  -webkit-transform: rotate(@value);
  transform: rotate(@value);
}
